/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

@media only screen and (max-width: 500px) {
  .hide-on-very-small-only{
    display: none !important; } 
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

div.sched-row {
  width: 100%;
  margin-bottom: 0px;
}

/* Don't show with background active tab */
.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: transparent;
  outline: none;
}

/* Show available action on hover */
.sched-item li:hover{
  background-color: red;
  outline: none;
}

/* Committee list min height too big*/
.collection#committee-list, .collection#topics-list{
  border: none;
}

.collection#topics-list .collection-item{
  padding: 0px;
  border-bottom: none;
}

.collection#committee-list .collection-item.avatar {
  min-height: 50px;
}

/* 400 px swipeable */
/* https://github.com/Dogfalo/materialize/issues/4159 */
/* .tabs-content.carousel .carousel-item { height:auto; } */